
body{
    display: flex;
    justify-content: center;
    background-image: url(https://images6.alphacoders.com/455/thumb-350-455565.png);
    background-repeat: repeat ;
    flex-direction: row-reverse;
    

    
}
.allinfo{
    display: flex;
    flex-direction: column;
    
}
.flex{
  display: flex;
  flex-direction: column;
  border-color: black;
  border-style: double;
  width: 40%;
  box-shadow: 5px 10px 20px;
  background-image: linear-gradient(to right, #833ab4,#fd1d1d, #fcb045 );
  border-radius: 50px;
  height: 700px;
}


.historic{
    display: flex;
    visibility: visible;
    background-color: white;
    height: 670px;
    width: 200px;
    border: solid;
    border-radius: 50px;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 30px;


    
}

.result{
    display: flex;
    font-size: 60px;
    justify-content: flex-end;
    border-style:ridge;
    margin: 1%;
    height: 120px;
    color: black;
    background-color: white;
    padding-right: 45px;
   word-wrap: break-word;
   word-break: break-all;
   align-items: center;

}
.affiche{
    display: flex;
    font-size: 50px;
    justify-content: flex-end;
    border-style:ridge;
    margin: 1%;
    height: 70px;
    color: black;
    background-color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-right: 40px;
    word-wrap: break-word;
    word-break: break-all;
    
}

.histo{
    display: flex;
    font-size: 70px;
    justify-content: flex-end;
    border-style:ridge;
    margin: 1%;
    height: 100px;
    
}
.flexC{
    display: flex;
    justify-content: space-around;   
}

.button, .egale,.operation,.delete{
    font-size: 200%;
    margin: 1%;
    background-color: #D9DCE0;
    border-style: groove;
    padding: 20px;
    width: 90%;
    text-align: center;
    border-radius: 40px;
    box-shadow: 5px 10px 20px;   
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.button:hover{
    background-color: gray;
}

.egale{
    background-color: coral;
}

.egale:hover{
    background-color: tomato;
}

.operation{
    background-color: goldenrod;
}
.operation:hover{
    background-color: darkgoldenrod;
}